@import 'styles/variables.module';

.header {
  background-color: $color-light;
  z-index: 99;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;

  @media (max-width: $width-md) {
    height: 70px;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  text-transform: uppercase;
  line-height: 90px;
}

.menuItem {
  margin-left: 20px;
  position: relative;
}

.link {
  padding: 4px 10px;
  transition: $transition-base;

  &:before {
    content: ' ';
    position: absolute;
    top: -4px;
    left: 0;
    background: $color-primary;
    width: 100%;
    height: 4px;
    border-radius: 0 0 4px 4px;
    transition: top 0.3s;
  }

  &:hover {
    color: $color-primary;
  }
  &:hover:before {
    top: 0;
  }

  &._active {
    &:before {
      top: -2px;
    }
  }
}

.button {
  margin-left: 50px;
  background-color: $color-primary;
  color: #fff;
  font-weight: 700;
  border-radius: $border-radius-sm;

  @media (max-width: $width-xs) {
    margin-left: 20px;
  }

  a {
    display: inline-block;
    padding: 8px 20px 10px;
    white-space: nowrap;
  }
}

// Mobile menu
@media (max-width: $width-md) {
  .menu {
    position: fixed;
    left: 200%;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: $color-light;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: linear 0.5s;

    &._active {
      left: 0;
    }

    & .button {
      margin-left: 0;

      a {
        font-size: 24px;
        font-weight: 700;
        padding: 10px 30px 12px;
      }
    }
  }

  .list {
    flex-direction: column;
    align-items: center;
    line-height: 150%;
  }

  .menuItem {
    margin-left: 0;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .link {
    &:before {
      display: none;
    }
  }
}
//---------------

.closeButton {
  margin-bottom: 20px;
  align-self: flex-end;
}

.buttonWrapper {
  display: flex;
  align-items: center;
}

.menuButton {
  margin-left: 120px;

  @media (max-width: $width-sm) {
    margin-left: 80px;
  }

  @media (max-width: $width-xs) {
    margin-left: 30px;
  }
}

.icon {
  color: $color-primary;
  width: 36px;
  height: 36px;
}
